header{
  background-color: #BADEF9;
  opacity: 0.5;
  height: 75px;
  position: absolute;
  width: 100%;

}

#myName{
  font-size: 30px;
  font-family: myFirstFont;
  margin-left: 50px;
  float: left;
  margin-top: 22px;

}

.menuTitle{
  font-size: 30px;
  font-family: myFirstFont;
  float: right;
  margin-right: 20px;
  margin-top: 22px;

}

.introHeader{
  background-color: #BADEF9;
  height: 400px;
  width: 100%;
  justify-content: center;
  background-image: url(Pictures/DSC_0274-small.jpg);
  background-repeat: no-repeat;
  background-size: cover;



}
@font-face {
    font-family: myFirstFont;
    src: url(Stellar-regular.otf) format('truetype');
}

html, body {

  margin:0;

  padding:0;

  scroll-behavior: smooth;




}


.header_text{
  font-size: 35px;
  padding-top: 200px;
  padding-left: 100px;
  font-family: myFirstFont;


}


.info{
  justify-content: center;
  display: inline-block;
  width: 100%;
  background-color: #ECF6FF;

}

#profile{
  width: 200px;
  height: 300px;

  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  clear:left;

}

p{
  width: auto;
  font-family: myFirstFont;
  font-size: 18px;

}

a{
  color: black;
  text-decoration: none;

}

a:hover{
  text-decoration: underline;

}

.infoAboutMe{
  width: auto;
  margin-top: 75px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: myFirstFont;
  font-size: 18px;
}

.title{
  margin-left: 100px;
  font-size: 40px;
  margin-top: 50px;
  font-family: myFirstFont;
}

#graphical{
  width: 50%;
}

.subTitleRight{
  margin-right: 100px;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: myFirstFont;
  width: auto;
  display: block;

}


.projectImgLeft{
  width: auto;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;

}

#bachelor{
  width: 30%;

}

.projectInfoRight{
  width: auto;
  margin-right: 100px;
  font-family: myFirstFont;
  font-size: 18px;
  display: block;
  float: right;
  clear: right;
}
.projectOdd{
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr [last];
}

.subTitleLeft{
  margin-left: 100px;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: myFirstFont;
  width: auto;
  display: block;

}


.projectImgRight{
  width: auto;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#impact{
  width: 30%;

}

.projectInfoLeft{
  width: auto;
  margin-left: 100px;
  font-family: myFirstFont;
  font-size: 18px;
  display: block;

}
.projectEven{
  display: grid;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #ECF6FF;
  grid-template-columns: 1fr 1fr [last];

}

#crap{
  width: 50%;
}

.portfolioPic{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30%;

}
.portfolio{
  margin-bottom: 20px;
}

footer{
  background-color: #ECF6FF;
  justify-content: center;

}

#flexContainer{
  display: flex;
  text-align: center;
  height: auto;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  align-items: center;
  justify-content: center;
  padding: 10vw;
}

#contactFooter{
  font-size: 50px;
  font-family: myFirstFont;
  margin: 0px;
  width: 50%;
  flex-basis: 50%;

}

#verticalLine{
  align-self: stretch;
  background-color: #000000;
  width: 5px;
  margin-bottom: 1vw;
}

.FooterContainer{
  flex-basis: 50%;

}

#contactIcons{

  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  width: 10rem;
  margin: auto;
  height: 2vw;
}
#email{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  width: 15rem;
  margin: auto;
  height: 1.5vw;

}
.fa{
  width:30px;
}
.footerPics{
  width: 30px;
}

.fa:hover{
  color: #47647B;
  

}
